<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Tyler O</string>
	<key>Builder Version</key>
	<string>11601.7.8</string>
	<key>CFBundleDisplayName</key>
	<string>QRHelper</string>
	<key>CFBundleIdentifier</key>
	<string>com.tylero.qrhelper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>vex.combined.min.js</string>
				<string>injected.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>vex.css</string>
			<string>vex-theme-os.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Helps you extrac QR code contents</string>
	<key>DeveloperIdentifier</key>
	<string>F5S48SAJAU</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update From Gallery</key>
	<true/>
	<key>Website</key>
	<string>http://tylerwowen.github.io/qr_helper/</string>
</dict>
</plist>
